<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key> <string>1</string>
    <key>CFBundleShortVersionString</key> <string>1</string>
    <key>CFBundleGetInfoString</key> <string>1</string>
    <key>CFBundleName</key> <string>play_cache</string>
    <key>CFBundleSignature</key> <string>????</string>
    <key>CFBundlePackageType</key> <string>BNDL</string>
    <key>CFBundleExecutable</key> <string>play_cache</string>
    <key>CFBundleIdentifier</key> <string>play_cache.synth.vst</string>

    <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
    <key>LSMinimumSystemVersion</key> <string>10.8.0</string>
</dict>
</plist>
